<!--The content below is only a placeholder and can be replaced.-->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
<div  class="container">
  <h1>Tools Catelogue</h1>
  <div  class="icon"><img width="75"  src="../assets/infosysicon.jpg" ></div>    
</div>

<app-slider></app-slider>
<div  class="container">
  <h1>Tools</h1>
</div>

<router-outlet></router-outlet> 






