<!-- <div class="Container">
    <div class="section col-sm-3 col-sm-offset-1">
        <h3 class="section-title">Monitoring system</h3>
         <a href="https://www.w3schools.com/icons/google_icons_intro.asp" target="_blank">
          <div class="content-overlay">
            <img class="content-image" src="../assets/2.jpeg" >
            <div class="content-details fadeIn-top" ahref>
              <p>Actionable dashboards for transporataion
                <br>Better Control of the operations, therby leading to cost savings
              </p>
            </div>
          </div> 
        </a> 
      </div>
</div> -->
<div class="container col-sm-3 col-sm-offset-1">
    <h3 class="content-title">Monitoring system</h3>
    <div class="content ">
        
        <a href="https://www.w3schools.com/bootstrap/bootstrap_images.asp" target="_blank">
            <div class="content-overlay"></div>
                <img class="content-image" src="../assets/2.jpeg">
                    <div class="content-details fadeIn-bottom">
                    <h5>Actionable dashboards for transporataion
                    Better Control of the operations, therby leading to cost savings</h5>
            </div>
        </a>
    </div>
</div>
<div class="container col-sm-3 col-sm-offset-1">
        <h3 class="content-title">Monitoring system</h3>
        <div class="content ">
            
            <a href="https://www.w3schools.com/bootstrap/bootstrap_images.asp" target="_blank">
                <div class="content-overlay"></div>
                    <img class="content-image" src="../assets/2.jpeg">
                        <div class="content-details fadeIn-bottom">
                        <h5>Actionable dashboards for transporataion
                        Better Control of the operations, therby leading to cost savings</h5>
                </div>
            </a>
        </div>
</div>
<div class="container col-sm-3 col-sm-offset-1">
        <h3 class="content-title">Monitoring system</h3>
        <div class="content ">
            
            <a href="https://www.w3schools.com/bootstrap/bootstrap_images.asp" target="_blank">
                <div class="content-overlay"></div>
                    <img class="content-image" src="../assets/2.jpeg">
                        <div class="content-details fadeIn-bottom">
                            <h5>Actionable dashboards for transporataion
                                Better Control of the operations, therby leading to cost savings</h5>
                </div>
            </a>
        </div>
</div>
<div class="container col-sm-3 col-sm-offset-1">
        <h3 class="content-title">Monitoring system</h3>
        <div class="content ">
            
            <a href="https://www.w3schools.com/bootstrap/bootstrap_images.asp" target="_blank">
                <div class="content-overlay"></div>
                    <img class="content-image" src="../assets/2.jpeg">
                        <div class="content-details fadeIn-bottom">
                            <h5>Actionable dashboards for transporataion
                                Better Control of the operations, therby leading to cost savings</h5>
                </div>
            </a>
        </div>
</div>
<div class="container col-sm-3 col-sm-offset-1">
        <h3 class="content-title">Monitoring system</h3>
        <div class="content ">
            
            <a href="https://www.w3schools.com/bootstrap/bootstrap_images.asp" target="_blank">
                <div class="content-overlay"></div>
                    <img class="content-image" src="../assets/2.jpeg">
                        <div class="content-details fadeIn-bottom">
                            <h5>Actionable dashboards for transporataion
                                Better Control of the operations, therby leading to cost savings</h5>
                </div>
            </a>
        </div>
</div>
<div class="container col-sm-3 col-sm-offset-1">
        <h3 class="content-title">Monitoring system</h3>
        <div class="content ">
            
            <a href="https://www.w3schools.com/bootstrap/bootstrap_images.asp" target="_blank">
                <div class="content-overlay"></div>
                    <img class="content-image" src="../assets/2.jpeg">
                        <div class="content-details fadeIn-bottom">
                            <h5>Actionable dashboards for transporataion
                                Better Control of the operations, therby leading to cost savings</h5>
                </div>
            </a>
        </div>
</div>
<div class="container col-sm-3 col-sm-offset-1">
        <h3 class="content-title">Monitoring system</h3>
        <div class="content ">
            
            <a href="https://www.w3schools.com/bootstrap/bootstrap_images.asp" target="_blank">
                <div class="content-overlay"></div>
                    <img class="content-image" src="../assets/2.jpeg">
                        <div class="content-details fadeIn-bottom">
                            <h5>Actionable dashboards for transporataion
                                Better Control of the operations, therby leading to cost savings</h5>
                </div>
            </a>
        </div>
</div>
<div class="container col-sm-3 col-sm-offset-1"  (mouseover)="showMsg()">
        <h3 class="content-title">Monitoring system</h3>
        <div class="content">
            <a href="https://www.w3schools.com/bootstrap/bootstrap_images.asp" target="_blank">
                <div class="content-overlay"></div>
                    <img class="content-image" src="../assets/2.jpeg" >
                        <div class="content-details fadeIn-bottom">
                            <h5>{{message}}</h5>
                </div>
            </a>
        </div>
</div>

